<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Compound Interest Calculator</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
      <div class="col-sm-4">
        <div class="well">
          <h3>Principle</h3>
          <input class="form-control" type="text" [(ngModel)]="principal">
          <h3>Interest</h3>
          <input class="form-control" type="text" [(ngModel)]="rate">
          <h3>Time in Months</h3>
          <input class="form-control" type="text" [(ngModel)]="time">
          <h3>Yearly Compounding Frequncy</h3>
          <input class="form-control" type="text" [(ngModel)]="compounded"><br>
          <button class="btn btn-primary" (click)="calculateInterest()">Calculate</button>
          <button class="btn btn-warning" (click)="clearResult()">Clear Table</button>
        </div>
        <div class="well" *ngIf="showAnswer">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Month</th>
                <th>Amount in Rs.</th>
                <th>Total Interest</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let amount of total">
                <td>{{amount.month}}</td>
                <td>{{amount.Amount | number: '.2-2' }}</td>
                <td>{{amount.totalInterest | number: '.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-8" [ngClass]="{well: showAnswer == true}">
        <canvas id="canvas"></canvas>
      </div>
  </div>
</div>

